
/* スマートフォン */

@media (max-width: 500px) {

  .top{
    position: relative;
  }

  .top-image{
    width: 100%;
  }

  .logo{
    position: absolute;
    top: 2%;
    left: 2%;
    width: 15vw;
  }

  .menu-bar{
    position: absolute;
    top: 4%;
    right: 2%;
    width: 8vw;
  }

  .copy{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    width: 90%;
    }
  
    .registration{
      position: absolute;
      bottom: 10%;
      right: 1%;
      width: 70vw;
    }

  .description{
      text-align: center;
  }

  .description-image{
    margin: 3% 0;
    width: 80vw;
  }

}

/* スマートフォン */