
/* スマートフォン */

@media (max-width: 500px) {

  .top{
    position: relative;
  }

  .top img{
    width: 100vw;

  }

  .copy{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    font-size: 23px;
    color: white;

    white-space: nowrap
  }


  .description-title{
    text-align: center;
    margin: 3% 0;

    font-size: 20px;
    color: #0099CC;
  }

  .description{
    font-size: 15px;
    text-align: center;
  }

/* スマートフォン */